<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <h3>Таблиці</h3>
    <p><a href="{{url_for('cafedra') }}">Cafedra</a> </p>
    <p><a href="{{url_for('groups') }}">Groups</a> </p>
    <p><a href="{{url_for('orders') }}">Orders</a> </p>
    <p><a href="{{url_for('person') }}">Person</a> </p>
    <p><a href="{{url_for('semester') }}">Semester</a> </p>
    <p><a href="{{url_for('smark') }}">Smark</a> </p>
    <p><a href="{{url_for('sorder_kind') }}">Sorder_kind</a> </p>
    <p><a href="{{url_for('speciality') }}">Speciality</a> </p>
    <p><a href="{{url_for('stest_kind') }}">Stest_kind</a> </p>
    <p><a href="{{url_for('student') }}">Student</a> </p>
    <p><a href="{{url_for('student_group') }}">Student_group</a> </p>
    <p><a href="{{url_for('student_marks') }}">Student_marks</a> </p>
    <p><a href="{{url_for('subject') }}">Subject</a> </p>
    <p><a href="{{url_for('sviolation_kind') }}">Sviolation_kind</a> </p>
    <p><a href="{{url_for('teach_plan') }}">Teach_plan</a> </p>
    <p><a href="{{url_for('violation') }}">Violation</a> </p>

    <h3>Запити</h3>
<p>><a href="{{url_for('index1') }}" >Перейти до запитів</a></p>
</body>
</html>