<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>groups</title>
</head>
<body>
    <table border="1" cellpadding="5">
        <thead>
        <tr>
            <th>ID</th>
            <th>Order_kind_ID</th>
            <th>Order_date</th>
            <th>Order_no</th>
            <th>Order_text</th>
        </tr>
        </thead>
        <tbody>
            {% for row in output_data %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<p style="color:blue;text-align:left;"><a href="{{url_for('index') }}" >Назад</a></p>
</body>
</html>