<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>speciality</title>
</head>
<body>
    <table border="1" cellpadding="5">
        <thead>
        <tr>
            <th>ID</th>
            <th>Semester_ID</th>
            <th>Group_ID</th>
            <th>Subject_ID</th>
            <th>Tester_ID</th>
            <th>Test_kind_ID</th>
            <th>Test_date</th>
            <th>Is_obligatory</th>
        </tr>
        </thead>
        <tbody>
            {% for row in output_data %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
            {% endfor %}
        </tbody>
    </table>
<p style="color:blue;text-align:left;"><a href="{{url_for('index') }}" >Назад</a></p>
</body>
</html>